<footer class="right">
<%@footer.each_pair{|k, v|%>
	<h6><%=k %> <%= v%></h6>
<%}%>
<h6 class="littlelittle centralized"><a href="https://www.github.com/jahpd/gibberish_experiments"><%=@title%></a></h6>
</footer>