<nav id="menu" class='centralized'>
<%= link_to 'Home', '/' %>
 | 
<%= link_to 'Create your own music library', '/libs' %>
 | 
<%= link_to 'How to', '/howtos' %>
 | 
<%= link_to 'live-coding', '/play' %>
</nav>