<!DOCTYPE HTML>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <hr />
    <nav id="menu">
      <h2>Above are mixin experiments of basic UGENs</h2>
      <ul>
      	<% @menu.each{|e|%>
      		<li><a href="/mixin_experiments/synthesis?q=<%=e%>"><%= e %></a></li>
      	<%}%>
      </ul>
    </nav>
    <hr />
  </body>
</html>