<!DOCTYPE HTML>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <hr />
    <nav id="menu">
      <h2>Above are simple experiments, to check how to write a basic Gibberish.js code</h2>
	  <p>see Gibberish reference to more details</p>
      <ul>
      	<% @menu.each{|e|%>
      		<li><a href="/simple_experiments/synthesis?q=<%=e%>"><%= e %></a></li>
      	<%}%>
      </ul>
    </nav>
    <hr />
  </body>
</html>