<!DOCTYPE HTML>
<html>
  <head>
    <title><%= @title %></title>
    <script src="/scripts/javascript/gibberish_2.0.js"></script>
    <script src="/scripts/javascript/gibberish_ext.js"></script>
  </head>
  <body>
	<pre id="running_code"></pre>
	<script id="code">
<% @gibberish_base.each{|e|%>
<%= e %>
<%}%>
<% @options.each{|e|%>
<%= e %>
<%}%>
	</script>
	<script>
		code = document.getElementById("code").innerHTML
		document.getElementById("running_code").innerHTML = code
	</script>
  </body>
</html>