<button id="play">Play</button>
<%= javascript_include_tag 'coffee-script' %>
<%= javascript_include_tag 'gibberish_2.0' %>
<%= @compiled_code%>
<script type="text/javascript">
	$(document).ready(function(){
		Gibberish.init()
		Gibberish.Time.export()
		Gibberish.Binops.export()
		var fn = <%= @compiled_code %>
		console.log(typeof(fn))
	})
</script>