<textarea id="experiment"></textarea>
<button id="render">Play</button>
<%= javascript_include_tag 'gibberish_2.0', 'stdlib' %>
<script type="text/javascript">
	$(document).ready(function(){
		var $render = $("#render")
		var b = false
		$render.click(function(){
			b = !b ? true : false
			if(b){
				$(this).text("Stop");
				init();
				code = document.getElementById("experiment").innerHTML;
				console.log("evaluating "+code)
				eval(code)
			}
			else{
				$(this).text("Play")
				clear()
			}
		})
	})
</script>