// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centralized{
  text-align: center;
}

.right{
  text-align: right;
}

.justify{
  text-align: justify;
}

.header{
  padding: 12% 20% 12% 20%;
}

.post{
  padding: 5% 12% 5% 12%;
}

.shadow{
  text-shadow: #DDD 3px 3px 2px;
}

.little{
  font-size: 50%
}
.littlelittle{
  font-size: 45%
}
